@media screen and (max-width:600px) {
    .main-nav {
        display: none
    }

    .hero-head .wrapper {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-head .wrapper .goal {
        max-width: unset;
    }

    .hero-head .wrapper h1,
    .hero-head .wrapper .goal {
        float: none;
    }

    .hero-head .wrapper h1 {
        margin: 0 0 40px;
        font-size: 46px;
        line-height: 2;
    }


    /* General content styles */
    .content {
        padding: 64px 16px;
    }

    .wrapper {
        width: auto;
    }

    /* Content Bordered */
    .content-wrap {
        margin-top: unset;
    }

    .content-wrap.two-col {
        flex-wrap: wrap;
    }

    .content-wrap.two-col .col h3 {
        margin-top: unset;
    }

    .content-wrap.two-col .col {
        flex-basis: 100%;
        text-align: center;
        margin-right: 0px;
    }

    .content-wrap.two-col .col:first-child {
        margin-bottom: 64px;
    }

    .content-wrap.two-col .col a {
        width: 100%;
    }

    /* Sponsors content */
    .content.sponsors .content-wrap-full h3 {
        margin-top: 0px;
    }

    .content.sponsors .content-wrap-full .module-text.centered {
        margin-bottom: 0px;
    }

    /* Footer */
    .main-foot .wrapper {
        width: unset;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-foot .bottom .copyright{
        float: none;
    }
    .main-foot .wrapper address{
       margin: 0;
    }

    .main-foot .wrapper nav{
      margin: 0;
    }
}