body{
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    flex-basis: 200px;
    -webkit-box-shadow: 2px 3px 15px 5px #000000;
    box-shadow: 2px 3px 15px 5px #000000;
    padding: 5px;
}
