

nav {
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    display: flex;
    gap:20px
}

a{
    color: rgb(0, 153, 0);
}

